<html >
<head>  
  <title>AutoAI Flask Deployment Tutorial</title>
</head>

<body>
 <div class="login">
	<h1>Loan Risk Prediction</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="duration" placeholder="Enter Duration" required="required" /> </br> </br>
        <input type="text" name="amount" placeholder="Enter Amount" required="required" /> </br> </br>
	<input type="text" name="age" placeholder="Enter Age" required="required" /> </br> </br>
        <button type="submit"> Predict Risk </button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>
</body>
</html>
