<script>
  window.watsonAssistantChatOptions = {
      integrationID: "b21be70e-fe60-47e0-82e7-239102a0c663", // The ID of this integration.
      region: "us-south", // The region your integration is hosted in.
      serviceInstanceID: "f9829475-7541-497f-8203-0cf268c2db52", // The ID of your service instance.
      onLoad: function(instance) { instance.render(); }
    };
  setTimeout(function(){
    const t=document.createElement('script');
    t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js"
    document.head.appendChild(t);
  });
</script>

<html >
<head>  
  <title>AutoAI Flask Deployment Tutorial</title>
</head>

<body>
 <div class="login">
	<h1>Loan Risk Prediction</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="duration" placeholder="Enter Duration" required="required" /> </br> </br>
        <input type="text" name="amount" placeholder="Enter Amount" required="required" /> </br> </br>
	<input type="text" name="age" placeholder="Enter Age" required="required" /> </br> </br>
        <button type="submit"> Predict Risk </button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>
</body>
</html>
